<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.anty.icanteenmanager">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_scheme">
        <activity
            android:name=".ICanteenLoginActivity"
            android:label="@string/activity_title_login_icanteen" />
        <activity
            android:name=".ICanteenSplashActivity"
            android:label="@string/app_name_icanteen"
            android:theme="@style/AppTheme_Splash" />
        <activity
            android:name=".ICanteenSelectServiceActivity"
            android:label="@string/app_name_icanteen" />

        <service
            android:name=".ICanteenService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".BurzaActivity"
            android:label="@string/app_name_icanteen_burza" />
    </application>

</manifest>
