<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.anty.icanteenmanager">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_scheme">
        <activity
            android:name=".ICLoginActivity"
            android:label="@string/activity_title_login_icanteen" />
        <activity
            android:name=".ICSplashActivity"
            android:label="@string/app_name_icanteen"
            android:theme="@style/AppTheme.Dialog" />
        <activity
            android:name=".ICSelectServiceActivity"
            android:label="@string/app_name_icanteen" />
        <activity
            android:name="cz.anty.icanteenmanager.ICSettingsActivity"
            android:label="@string/activity_title_icanteen_settings" />

        <service
            android:name=".ICService"
            android:enabled="true"
            android:exported="false"
            android:label="@string/app_name_icanteen" />

        <activity
            android:name=".ICBurzaActivity"
            android:label="@string/app_name_icanteen_burza" />

        <service
            android:name=".ICBurzaCheckerService"
            android:enabled="true"
            android:exported="false"
            android:label="@string/app_name_icanteen_burza" />

        <activity
            android:name=".ICLunchOrderActivity"
            android:label="@string/app_name_icanteen_lunch_order" />
    </application>

</manifest>
