<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.anty.sasmanager">

    <uses-permission android:name="ANDROID.PERMISSION.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_scheme">
        <activity
            android:name=".SASSplashActivity"
            android:excludeFromRecents="true"
            android:icon="@mipmap/ic_launcher_sas"
            android:label="@string/app_name_sas"
            android:theme="@style/AppTheme.Dialog" />
        <activity
            android:name=".SASLoginActivity"
            android:icon="@mipmap/ic_launcher_sas"
            android:label="@string/activity_title_sas_login" />
        <activity
            android:name=".SASManageActivity"
            android:icon="@mipmap/ic_launcher_sas"
            android:label="@string/app_name_sas" />
        <activity
            android:name="cz.anty.sasmanager.SASManagerSettingsActivity"
            android:label="@string/activity_title_sas_settings" />

        <service
            android:name=".SASManagerService"
            android:enabled="true"
            android:exported="false"
            android:icon="@mipmap/ic_launcher_sas"
            android:label="@string/service_title_sas_manager"> <!-- android:process=":SASManagerService" -->
        </service>

        <receiver
            android:name=".receiver.StartServiceReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name=".receiver.StartServiceScheduleReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".widget.SASManageWidget"
            android:label="@string/widget_label_sas_manage">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/sasmanage_widget_info" />
        </receiver>
    </application>

</manifest>
