<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.anty.attendancemanager">

    <uses-permission android:name="ANDROID.PERMISSION.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application android:allowBackup="true">
        <activity
            android:name=".SearchActivity"
            android:label="@string/title_activity_attendance_search" />

        <receiver
            android:name=".AttendanceReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name=".ScheduleReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>

                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
