<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.anty.attendancemanager">

    <uses-permission android:name="ANDROID.PERMISSION.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_scheme">
        <activity
            android:name=".SearchActivity"
            android:label="@string/activity_title_attendance_search" />
        <activity
            android:name="cz.anty.attendancemanager.AttendanceSettingsActivity"
            android:label="@string/activity_title_attendance_settings" />

        <receiver
            android:name=".receiver.TrackingReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name=".receiver.TrackingScheduleReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".TrackingActivity"
            android:label="@string/activity_title_tracking" />

        <receiver
            android:name=".widget.TrackingWidget"
            android:label="@string/widget_label_tracking">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/tracking_widget_info" />
        </receiver>
    </application>

</manifest>
