<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cz.anty.purkynkamanager">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" /> -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk tools:overrideLibrary="me.zhanghai.android.materialprogressbar" />

    <application
        android:name=".ApplicationBase"
        android:allowBackup="true"
        android:configChanges="locale|orientation"
        android:fullBackupContent="@xml/backup_scheme"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".main.MainActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".utils.update.UpdateActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/wait_text_downloading_update"
            android:theme="@style/AppTheme.Dialog" />

        <receiver
            android:name=".utils.update.UpdateScheduleReceiver"
            android:enabled="true"
            android:exported="false"
            android:icon="@mipmap/ic_launcher"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".utils.update.UpdateReceiver"
            android:enabled="true"
            android:exported="false"
            android:icon="@mipmap/ic_launcher"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".main.RemovedItemsActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/activity_title_removed_items"
            android:parentActivityName=".main.MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".main.SendFeedbackActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/activity_title_send_feedback"
            android:parentActivityName=".main.MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".utils.firststart.FirstStartActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".utils.settings.SettingsActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/activity_title_settings"
            android:parentActivityName=".main.MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".utils.settings.MainSettingsActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/activity_title_main_settings"
            android:parentActivityName=".utils.settings.SettingsActivity"
            android:theme="@style/AppTheme" />


        <activity
            android:name=".modules.attendance.SearchActivity"
            android:icon="@mipmap/ic_launcher_a"
            android:label="@string/activity_title_attendance_search"
            android:launchMode="singleTop"
            android:parentActivityName=".main.MainActivity"
            android:theme="@style/AppTheme.AS">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".utils.settings.AttendanceSettingsActivity"
            android:icon="@mipmap/ic_launcher_a"
            android:label="@string/activity_title_attendance_settings"
            android:theme="@style/AppTheme.AS" />

        <receiver
            android:name=".modules.attendance.receiver.TrackingReceiver"
            android:enabled="true"
            android:exported="false"
            android:icon="@mipmap/ic_launcher_a"
            android:theme="@style/AppTheme.AS" />
        <receiver
            android:name=".modules.attendance.receiver.TrackingScheduleReceiver"
            android:enabled="true"
            android:exported="false"
            android:icon="@mipmap/ic_launcher_a"
            android:theme="@style/AppTheme.AS">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".modules.attendance.TrackingActivity"
            android:icon="@mipmap/ic_launcher_a"
            android:label="@string/activity_title_tracking"
            android:parentActivityName=".modules.attendance.SearchActivity"
            android:theme="@style/AppTheme.AS" />

        <receiver
            android:name=".modules.attendance.widget.TrackingWidget"
            android:icon="@mipmap/ic_launcher_a"
            android:label="@string/widget_label_tracking"
            android:theme="@style/AppTheme.AS">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/tracking_widget_info" />
        </receiver>


        <activity
            android:name=".modules.icanteen.ICLoginActivity"
            android:icon="@mipmap/ic_launcher_ic"
            android:label="@string/activity_title_login_icanteen"
            android:parentActivityName=".main.MainActivity"
            android:theme="@style/AppTheme.IC" />
        <activity
            android:name=".modules.icanteen.ICSplashActivity"
            android:icon="@mipmap/ic_launcher_ic"
            android:label="@string/app_name_icanteen"
            android:theme="@style/AppTheme.Dialog" />
        <activity
            android:name=".modules.icanteen.ICSelectServiceActivity"
            android:icon="@mipmap/ic_launcher_ic"
            android:label="@string/app_name_icanteen"
            android:parentActivityName=".main.MainActivity"
            android:theme="@style/AppTheme.IC" />
        <activity
            android:name=".utils.settings.ICSettingsActivity"
            android:icon="@mipmap/ic_launcher_ic"
            android:label="@string/activity_title_icanteen_settings"
            android:parentActivityName=".utils.settings.SettingsActivity"
            android:theme="@style/AppTheme.IC" />

        <service
            android:name=".modules.icanteen.ICService"
            android:enabled="true"
            android:exported="false"
            android:icon="@mipmap/ic_launcher_ic"
            android:label="@string/app_name_icanteen"
            android:theme="@style/AppTheme.IC" />

        <activity
            android:name=".modules.icanteen.ICBurzaActivity"
            android:icon="@mipmap/ic_launcher_ic"
            android:label="@string/app_name_icanteen_burza"
            android:parentActivityName=".modules.icanteen.ICSelectServiceActivity"
            android:theme="@style/AppTheme.IC" />
        <activity
            android:name=".modules.icanteen.ICBurzaCheckerActivity"
            android:icon="@mipmap/ic_launcher_ic"
            android:label="@string/app_name_icanteen_burza_watcher"
            android:parentActivityName=".modules.icanteen.ICSelectServiceActivity"
            android:theme="@style/AppTheme.IC" />

        <service
            android:name=".modules.icanteen.ICBurzaCheckerService"
            android:enabled="true"
            android:exported="false"
            android:icon="@mipmap/ic_launcher_ic"
            android:label="@string/app_name_icanteen_burza_watcher"
            android:theme="@style/AppTheme.IC" />

        <receiver
            android:name=".modules.icanteen.receiver.StartServiceReceiver"
            android:enabled="true"
            android:exported="false"
            android:icon="@mipmap/ic_launcher_ic"
            android:theme="@style/AppTheme.IC" />
        <receiver
            android:name=".modules.icanteen.receiver.StartServiceScheduleReceiver"
            android:enabled="true"
            android:exported="false"
            android:icon="@mipmap/ic_launcher_ic"
            android:theme="@style/AppTheme.IC">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".modules.icanteen.widget.ICTodayLunchWidget"
            android:icon="@mipmap/ic_launcher_ic"
            android:label="@string/widget_label_next_lunch"
            android:theme="@style/AppTheme.IC">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/icanteen_next_lunch_widget_info" />
        </receiver>

        <activity
            android:name=".modules.icanteen.ICLunchOrderActivity"
            android:icon="@mipmap/ic_launcher_ic"
            android:label="@string/app_name_icanteen_lunch_order"
            android:parentActivityName=".modules.icanteen.ICSelectServiceActivity"
            android:theme="@style/AppTheme.IC" />
        <activity
            android:name=".modules.icanteen.ICPendingOrdersActivity"
            android:icon="@mipmap/ic_launcher_ic"
            android:label="@string/activity_title_pending_orders"
            android:parentActivityName=".modules.icanteen.ICSelectServiceActivity"
            android:theme="@style/AppTheme.IC" />


        <activity
            android:name=".modules.sas.SASSplashActivity"
            android:excludeFromRecents="true"
            android:icon="@mipmap/ic_launcher_sas"
            android:label="@string/app_name_sas"
            android:theme="@style/AppTheme.Dialog" />
        <activity
            android:name=".modules.sas.SASLoginActivity"
            android:icon="@mipmap/ic_launcher_sas"
            android:label="@string/activity_title_sas_login"
            android:parentActivityName=".main.MainActivity"
            android:theme="@style/AppTheme.AS" />
        <activity
            android:name=".modules.sas.SASManageActivity"
            android:icon="@mipmap/ic_launcher_sas"
            android:label="@string/app_name_sas"
            android:parentActivityName=".main.MainActivity"
            android:theme="@style/AppTheme.AS" />
        <activity
            android:name=".utils.settings.SASManagerSettingsActivity"
            android:icon="@mipmap/ic_launcher_sas"
            android:label="@string/activity_title_sas_settings"
            android:parentActivityName=".utils.settings.SettingsActivity"
            android:theme="@style/AppTheme.AS" />

        <service
            android:name=".modules.sas.SASManagerService"
            android:enabled="true"
            android:exported="false"
            android:icon="@mipmap/ic_launcher_sas"
            android:label="@string/service_title_sas_manager"
            android:theme="@style/AppTheme.AS"> <!-- android:process=":SASManagerService" -->
        </service>

        <receiver
            android:name=".modules.sas.receiver.StartServiceReceiver"
            android:enabled="true"
            android:exported="false"
            android:icon="@mipmap/ic_launcher_sas"
            android:theme="@style/AppTheme.AS" />
        <receiver
            android:name=".modules.sas.receiver.StartServiceScheduleReceiver"
            android:enabled="true"
            android:exported="false"
            android:icon="@mipmap/ic_launcher_sas"
            android:theme="@style/AppTheme.AS">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".modules.sas.widget.SASManageWidget"
            android:icon="@mipmap/ic_launcher_sas"
            android:label="@string/widget_label_sas_manage"
            android:theme="@style/AppTheme.AS">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/sasmanage_widget_info" />
        </receiver>


        <activity
            android:name=".modules.timetable.TimetableSelectActivity"
            android:icon="@mipmap/ic_launcher_t"
            android:label="@string/activity_title_timetable_select"
            android:parentActivityName=".main.MainActivity"
            android:theme="@style/AppTheme.T" />
        <activity
            android:name=".modules.timetable.TimetableManageActivity"
            android:icon="@mipmap/ic_launcher_t"
            android:label="@string/activity_title_timetable_manage"
            android:parentActivityName=".modules.timetable.TimetableSelectActivity"
            android:theme="@style/AppTheme.T" />

        <receiver
            android:name=".modules.timetable.receiver.AttendanceReceiver"
            android:enabled="true"
            android:exported="false"
            android:icon="@mipmap/ic_launcher_t"
            android:theme="@style/AppTheme.T" />
        <receiver
            android:name=".modules.timetable.receiver.TimetableScheduleReceiver"
            android:enabled="true"
            android:exported="false"
            android:icon="@mipmap/ic_launcher_t"
            android:theme="@style/AppTheme.T">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".modules.timetable.widget.TimetableLessonWidget"
            android:icon="@mipmap/ic_launcher_t"
            android:label="@string/activity_title_timetable_manage"
            android:theme="@style/AppTheme.T">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/timetable_lesson_widget_info" />
        </receiver>

        <activity
            android:name=".modules.timetable.widget.TimetableLessonWidgetConfigureActivity"
            android:icon="@mipmap/ic_launcher_t"
            android:label="@string/activity_title_timetable_select"
            android:theme="@style/AppTheme.Dialog">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".utils.settings.TimetableSettingsActivity"
            android:icon="@mipmap/ic_launcher_t"
            android:label="@string/activity_title_timetable_settings"
            android:parentActivityName=".utils.settings.SettingsActivity"
            android:theme="@style/AppTheme.T" />


        <activity
            android:name=".modules.wifi.WifiLoginActivity"
            android:icon="@mipmap/ic_launcher_wifi"
            android:label="@string/app_name_wifi"
            android:parentActivityName=".main.MainActivity"
            android:theme="@style/AppTheme.W" />
        <activity
            android:name=".utils.settings.WifiSettingsActivity"
            android:icon="@mipmap/ic_launcher_wifi"
            android:label="@string/activity_title_wifi_settings"
            android:parentActivityName=".utils.settings.SettingsActivity"
            android:theme="@style/AppTheme.W" />

        <receiver
            android:name=".modules.wifi.WifiStateReceiver"
            android:enabled="true"
            android:exported="false"
            android:icon="@mipmap/ic_launcher_wifi"
            android:theme="@style/AppTheme.W">
            <intent-filter>

                <!-- <action android:name="android.intent.action.BOOT_COMPLETED" /> -->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>


        <activity
            android:name=".utils.settings.AboutActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/activity_title_about"
            android:parentActivityName=".utils.settings.SettingsActivity"
            android:theme="@style/AppTheme" />

        <service
            android:name=".utils.other.list.widget.WidgetService"
            android:enabled="true"
            android:exported="false"
            android:icon="@mipmap/ic_launcher"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
