<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.anty.timetablemanager">

    <application android:allowBackup="true">
        <activity
            android:name=".TimetableSelectActivity"
            android:label="@string/title_activity_timetable_select" />
        <activity
            android:name=".TimetableManageActivity"
            android:label="@string/title_activity_timetable_manage" />
    </application>

</manifest>
